@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.section-title {
  @apply text-2xl md:text-4xl text-dark uppercase;
}
.section-subtitle {
  @apply mt-4 font-bold text-base text-gray-600;
}
